body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* partie home page */
.location {
  height: 63px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location .fa-solid {
  padding-right: 20px;
  font-size: small;
}

.search {
  background: #F6F6F6;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search h1 {
  text-align: center;
  font-size: 24px;
  padding: 25px;
}
.search p {
  margin: 0;
  padding: 0px 10px;
  text-align: center;
  font-weight: 300;
}
.search a {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.functioning {
  padding: 25px;
}
.functioning .functioning_cards {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.functioning .functioning_cards .functioning_cards_step {
  display: flex;
  position: relative;
}
.functioning .functioning_cards .functioning_cards_step:hover .fa-solid {
  color: #9356DC;
}
.functioning .functioning_cards .functioning_cards_step p {
  position: absolute;
  bottom: 10px;
  left: -10px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: #9356DC;
  color: white;
}
.functioning .functioning_cards .functioning_cards_step div {
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  width: 100%;
  height: 72px;
  border-radius: 20px;
  margin-top: 20px;
}
.functioning .functioning_cards .functioning_cards_step div .fa-solid {
  padding-left: 20px;
}
.functioning .functioning_cards .functioning_cards_step div h2 {
  flex-grow: 0.8;
  display: flex;
  justify-content: center;
}

.restaurants {
  padding: 25px;
  background-color: #F6F6F6;
}
.restaurants .restaurants_cards {
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.restaurants .restaurants_cards .restaurants_cards_container {
  width: 100%;
  height: 241px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
}
.restaurants .restaurants_cards .restaurants_cards_container a {
  position: relative;
}
.restaurants .restaurants_cards .restaurants_cards_container a .new {
  position: absolute;
  right: 15px;
  border-radius: 2px;
  padding: 5px;
  background-color: #99E2D0;
  color: #008766;
}
.restaurants .restaurants_cards .restaurants_cards_container a img {
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 180px;
}
.restaurants .restaurants_cards .restaurants_cards_container .card-content {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}
.restaurants .restaurants_cards .restaurants_cards_container .card-content .card-txt .card-title {
  margin-top: 2px;
  margin-bottom: 2px;
}
.restaurants .restaurants_cards .restaurants_cards_container .card-content .card-txt .card-subtitle {
  margin: 1px 0px;
}
.restaurants .restaurants_cards .restaurants_cards_container .card-content .heart_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 20px;
}
.restaurants .restaurants_cards .restaurants_cards_container .card-content .heart_icon .fa-regular {
  position: absolute;
}
.restaurants .restaurants_cards .restaurants_cards_container .card-content .heart_icon .fa-solid {
  position: absolute;
  opacity: 0;
  transition: all 0.6s;
  color: transparent;
  background-image: linear-gradient(193.33deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
}
.restaurants .restaurants_cards .restaurants_cards_container .card-content .heart_icon:hover .fa-solid {
  opacity: 1;
}
.restaurants .restaurants_cards .restaurants_cards_container .card-content .heart_icon:hover .fa-regular {
  opacity: 0;
}

@media screen and (min-width: 992px) {
  .search h1 {
    font-size: 40px;
  }
  .search p {
    font-size: 18px;
  }
  .restaurants,
  .functioning {
    padding-right: 8%;
    padding-left: 8%;
  }
  .functioning .functioning_cards {
    flex-direction: row;
    justify-content: space-between;
  }
  .functioning_cards_step {
    width: 25%;
  }
  .restaurants .restaurants_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants .restaurants_cards .restaurants_cards_container {
    width: 45%;
    margin-top: 40px;
  }
}
/* Partie restaurant */
main {
  margin-bottom: -60px;
}
main .restaurant_img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
}
main .menu {
  background-color: #F7F7F7;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  bottom: 60px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 25px;
  padding-bottom: 25px;
  /* Animation apparition par ordre du menu */
}
main .menu .menu_title {
  display: flex;
  justify-content: space-between;
}
main .menu .menu_title h1 {
  padding-top: 10px;
  font-family: "shrikhand";
  font-weight: 400;
  size: 28px;
}
main .menu .menu_title .heart_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 20px;
}
main .menu .menu_title .heart_icon .fa-regular {
  position: absolute;
}
main .menu .menu_title .heart_icon .fa-solid {
  position: absolute;
  opacity: 0;
  transition: all 0.6s;
  color: transparent;
  background-image: linear-gradient(193.33deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
}
main .menu .menu_title .heart_icon:hover .fa-solid {
  opacity: 1;
}
main .menu .menu_title .heart_icon:hover .fa-regular {
  opacity: 0;
}
main .menu .full_menu .starters,
main .menu .full_menu .dishes,
main .menu .full_menu .desserts {
  margin-bottom: 40px;
}
main .menu .full_menu .starters h2,
main .menu .full_menu .dishes h2,
main .menu .full_menu .desserts h2 {
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 5px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}
main .menu .full_menu .starters .card-content,
main .menu .full_menu .dishes .card-content,
main .menu .full_menu .desserts .card-content {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  height: 72px;
  border-radius: 20px;
  margin-top: 20px;
  padding: 0;
  overflow: hidden;
}
main .menu .full_menu .starters .card-content:hover .card-price,
main .menu .full_menu .dishes .card-content:hover .card-price,
main .menu .full_menu .desserts .card-content:hover .card-price {
  margin-right: 0;
  transition: all 0.6s;
}
main .menu .full_menu .starters .card-content .card-text,
main .menu .full_menu .dishes .card-content .card-text,
main .menu .full_menu .desserts .card-content .card-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 10px;
}
main .menu .full_menu .starters .card-content .card-text h3,
main .menu .full_menu .dishes .card-content .card-text h3,
main .menu .full_menu .desserts .card-content .card-text h3 {
  margin: 0px;
  margin-top: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
main .menu .full_menu .starters .card-content .card-text p,
main .menu .full_menu .dishes .card-content .card-text p,
main .menu .full_menu .desserts .card-content .card-text p {
  margin: 0px;
  margin-top: 7px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
main .menu .full_menu .starters .card-content .card-price,
main .menu .full_menu .dishes .card-content .card-price,
main .menu .full_menu .desserts .card-content .card-price {
  margin-right: -90px;
  display: flex;
  width: 150px;
}
main .menu .full_menu .starters .card-content .card-price .price,
main .menu .full_menu .dishes .card-content .card-price .price,
main .menu .full_menu .desserts .card-content .card-price .price {
  padding-top: 32px;
  padding-left: 20px;
  width: 40px;
  font-weight: 700;
  font-size: 15px;
}
main .menu .full_menu .starters .card-content .card-price .card-check,
main .menu .full_menu .dishes .card-content .card-price .card-check,
main .menu .full_menu .desserts .card-content .card-price .card-check {
  border-bottom-right-radius: 20px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #99E2D0;
  border-top-right-radius: 20px;
}
main .menu .full_menu .starters .card-content .card-price .card-check .fa-circle-check,
main .menu .full_menu .dishes .card-content .card-price .card-check .fa-circle-check,
main .menu .full_menu .desserts .card-content .card-price .card-check .fa-circle-check {
  color: white;
}
main .menu .starters {
  animation: appearance 1.1s ease-out forwards;
}
main .menu .dishes {
  animation: appearance 2.5s ease-out forwards;
}
main .menu .desserts {
  animation: appearance 4s ease-out forwards;
}
@keyframes appearance {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  70% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
main .menu .div_btn {
  display: flex;
  justify-content: center;
}
main .menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 25px;
}

@media screen and (min-width: 992px) {
  .menu {
    margin-left: 10%;
    margin-right: 10%;
  }
  .menu .menu_title {
    margin-left: 10%;
    margin-right: 10%;
  }
  .menu .full_menu {
    margin-left: 10%;
    margin-right: 10%;
  }
}
* {
  font-family: "roboto";
  font-weight: 500;
}

h1 {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 15px;
  font-weight: 700;
}

h2 {
  font-size: 16px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}

p {
  font-weight: 300;
  margin: 13px 0px;
}

.txt-color {
  color: #9356DC;
}

.btn_violet {
  font-size: 17px;
  border-radius: 25px;
  width: 218px;
  height: 50px;
  background: linear-gradient(193.33deg, #9356DC, #FF79DA);
  color: white;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease-in-out;
}
.btn_violet:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.6);
  opacity: 0.8;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 172px;
  background-color: #353535;
  color: white;
  padding: 22px 25px;
}
footer p {
  font-family: "shrikhand";
  font-size: 20px;
  margin: 0;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer ul li {
  padding-bottom: 12px;
}
footer ul li .fa-solid {
  padding-right: 10px;
}
footer ul li a {
  color: white;
}

@media screen and (min-width: 992px) {
  footer {
    height: 114px;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
  }
  footer p {
    padding-left: 70px;
    padding-bottom: 6px;
  }
  footer ul {
    display: flex;
    flex-direction: row;
  }
  footer ul li {
    padding-left: 20px;
  }
}
header {
  width: 100%;
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .previous {
  display: flex;
}
header .logo-omf {
  display: flex;
  justify-content: center;
  flex-grow: 0.9;
  height: 44px;
  margin-top: 24px;
  margin-bottom: 20px;
}

.contener_general {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: white;
  opacity: 1;
  animation: fadeOut 3s ease-out forwards;
}

@keyframes fadeOut {
  99.9% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.contener_mixte {
  width: 88px;
  height: 88px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ballcolor {
  width: 40px;
  height: 40px;
}

.ball_1,
.ball_2,
.ball_3,
.ball_4 {
  position: absolute;
  animation: animball_one 1.4s infinite ease-in;
  animation-fill-mode: forwards;
}

.ball_1 {
  border: 1px solid #9356DC;
  top: 0;
  left: 0;
}

.ball_2 {
  border: 1px solid #FF79DA;
  top: 0;
  left: 48px;
}

.ball_3 {
  border: 1px solid #99E2D0;
  top: 48px;
  left: 0;
}

.ball_4 {
  border: 1px solid #9356DC;
  top: 48px;
  left: 48px;
}

@keyframes animball_one {
  0% {
    position: absolute;
    transform: rotate(0deg);
  }
  50% {
    top: 24px;
    left: 24px;
    position: absolute;
    opacity: 0.5;
  }
  100% {
    position: absolute;
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */