body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* partie home page */
.location {
  height: 63px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location .fa-solid {
  padding-right: 20px;
  font-size: small;
}

.search {
  background: #F6F6F6;
  height: 275px;
}
.search h1 {
  text-align: center;
  font-size: 24px;
  padding: 25px;
}
.search p {
  margin: 0;
  padding: 0px 10px;
  text-align: center;
  font-weight: 300;
}
.search a {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.functioning {
  padding: 25px;
}
.functioning .functioning_cards {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.functioning .functioning_cards .functioning_cards_step {
  display: flex;
  position: relative;
}
.functioning .functioning_cards .functioning_cards_step p {
  position: absolute;
  bottom: 10px;
  left: -10px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: #9356DC;
  color: white;
}
.functioning .functioning_cards .functioning_cards_step div {
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  width: 100%;
  height: 72px;
  border-radius: 20px;
  margin-top: 20px;
}
.functioning .functioning_cards .functioning_cards_step div .fa-solid {
  padding-left: 20px;
}
.functioning .functioning_cards .functioning_cards_step div h2 {
  flex-grow: 0.8;
  display: flex;
  justify-content: center;
}

.restaurants {
  padding: 25px;
  background-color: #F6F6F6;
}
.restaurants .restaurants_cards {
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.restaurants .restaurants_cards .restaurants_cards_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
}
.restaurants .restaurants_cards .restaurants_cards_container a {
  position: relative;
}
.restaurants .restaurants_cards .restaurants_cards_container a .new {
  position: absolute;
  right: 15px;
  border-radius: 2px;
  padding: 5px;
  background-color: #99E2D0;
  color: #008766;
}
.restaurants .restaurants_cards .restaurants_cards_container a img {
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 260px;
}
.restaurants .restaurants_cards .restaurants_cards_container .card-content {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}
.restaurants .restaurants_cards .restaurants_cards_container .card-content .fa-heart {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .search h1 {
    font-size: 40px;
  }
  .search p {
    font-size: 18px;
  }
  .restaurants,
  .functioning {
    padding-right: 8%;
    padding-left: 8%;
  }
  .functioning .functioning_cards {
    flex-direction: row;
    justify-content: space-between;
  }
  .functioning_cards_step {
    width: 25%;
  }
  .restaurants .restaurants_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants .restaurants_cards .restaurants_cards_container {
    width: 45%;
    margin-top: 40px;
  }
}
/* Partie restaurant */
main {
  margin-bottom: -60px;
}
main .restaurant_img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 275px;
}
main .menu {
  background-color: #F7F7F7;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  bottom: 60px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 25px;
  padding-bottom: 25px;
}
main .menu .menu_title {
  display: flex;
  justify-content: space-between;
}
main .menu .menu_title h1 {
  padding-top: 10px;
  font-family: "shrikhand";
  font-weight: 400;
  size: 28px;
}
main .menu .menu_title .fa-heart {
  display: flex;
  align-items: center;
}
main .menu .full_menu .starters,
main .menu .full_menu .dishes,
main .menu .full_menu .desserts {
  margin-bottom: 40px;
}
main .menu .full_menu .starters h2,
main .menu .full_menu .dishes h2,
main .menu .full_menu .desserts h2 {
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 5px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}
main .menu .full_menu .starters .card-content,
main .menu .full_menu .dishes .card-content,
main .menu .full_menu .desserts .card-content {
  display: flex;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  height: 72px;
  border-radius: 20px;
  margin-top: 20px;
  padding: 0;
}
main .menu .full_menu .starters .card-content:hover .card-check,
main .menu .full_menu .dishes .card-content:hover .card-check,
main .menu .full_menu .desserts .card-content:hover .card-check {
  width: 20%;
  transition: all 0.3s;
}
main .menu .full_menu .starters .card-content:hover .card-check .fa-circle-check,
main .menu .full_menu .dishes .card-content:hover .card-check .fa-circle-check,
main .menu .full_menu .desserts .card-content:hover .card-check .fa-circle-check {
  transform: scale(1);
  transition: all 0.4s;
}
main .menu .full_menu .starters .card-content .block-text,
main .menu .full_menu .dishes .card-content .block-text,
main .menu .full_menu .desserts .card-content .block-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
}
main .menu .full_menu .starters .card-content .block-text .card-title h3,
main .menu .full_menu .dishes .card-content .block-text .card-title h3,
main .menu .full_menu .desserts .card-content .block-text .card-title h3 {
  margin: 0px;
}
main .menu .full_menu .starters .card-content .block-text .card-text,
main .menu .full_menu .dishes .card-content .block-text .card-text,
main .menu .full_menu .desserts .card-content .block-text .card-text {
  display: flex;
  justify-content: space-between;
}
main .menu .full_menu .starters .card-content .block-text .card-text p,
main .menu .full_menu .dishes .card-content .block-text .card-text p,
main .menu .full_menu .desserts .card-content .block-text .card-text p {
  margin: 0px;
}
main .menu .full_menu .starters .card-content .block-text .card-text .price,
main .menu .full_menu .dishes .card-content .block-text .card-text .price,
main .menu .full_menu .desserts .card-content .block-text .card-text .price {
  margin: 0px;
  font-weight: 700;
  font-size: 15px;
}
main .menu .full_menu .starters .card-content .card-check,
main .menu .full_menu .dishes .card-content .card-check,
main .menu .full_menu .desserts .card-content .card-check {
  transition: all 0.5s ease-in-out;
  border-bottom-right-radius: 20px;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #99E2D0;
  margin-left: 10px;
  border-top-right-radius: 20px;
}
main .menu .full_menu .starters .card-content .card-check .fa-circle-check,
main .menu .full_menu .dishes .card-content .card-check .fa-circle-check,
main .menu .full_menu .desserts .card-content .card-check .fa-circle-check {
  transform: scale(0);
  color: white;
}
main .menu a {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 25px;
}

@media screen and (min-width: 992px) {
  .menu {
    margin-left: 10%;
    margin-right: 10%;
  }
  .menu .menu_title {
    margin-left: 10%;
    margin-right: 10%;
  }
  .menu .full_menu {
    margin-left: 10%;
    margin-right: 10%;
  }
}
* {
  font-family: "roboto";
  font-weight: 500;
}

h1 {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 15px;
  font-weight: 700;
}

h2 {
  font-size: 16px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}

p {
  font-weight: 300;
  margin: 13px 0px;
}

.txt-color {
  color: #9356DC;
}

.btn_violet {
  font-size: 17px;
  border-radius: 25px;
  width: 218px;
  height: 50px;
  background: linear-gradient(193.33deg, #9356DC, #FF79DA);
  color: white;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease-in-out;
}
.btn_violet:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 172px;
  background-color: #353535;
  color: white;
  padding: 22px 25px;
}
footer p {
  font-family: "shrikhand";
  font-size: 20px;
  margin: 0;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer ul li {
  padding-bottom: 12px;
}
footer ul li .fa-solid {
  padding-right: 10px;
}

@media screen and (min-width: 992px) {
  footer {
    height: 114px;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
  }
  footer p {
    padding-left: 70px;
  }
  footer ul {
    display: flex;
    flex-direction: row;
  }
  footer ul li {
    padding-left: 20px;
  }
}
header {
  width: 100%;
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .previous {
  display: flex;
}
header .logo-omf {
  display: flex;
  justify-content: center;
  flex-grow: 0.9;
  height: 44px;
  margin-top: 24px;
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */