body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* partie home page */

.location {
    height: 63px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa-solid {
        padding-right: 20px;
        font-size: small;
    }
}

.search {
    background: $backgroundcolor1 ;
    height: 275px;

    h1 {
        text-align: center;
        font-size: 24px;
        padding: 25px;
    }

    p {
        margin: 0;
        padding: 0px 10px;
        text-align: center;
        font-weight: 300;
    }

    a {
        margin: 30px;
        display: flex;
        justify-content: center;
    }

}

.functioning {
    padding: 25px;

    .functioning_cards {
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;

        .functioning_cards_step {
            display: flex;
            position: relative;

            p {
                position: absolute;
                bottom: 10px;
                left: -10px;
                width: 20px;
                height: 20px;
                text-align: center;
                border-radius: 20px;
                background-color: $primarycolor;
                color: white;
            }

            div {
                background-color: $backgroundcolor1 ;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
                display: flex;
                align-items: center;
                width: 100%;
                height: 72px;
                border-radius: 20px;
                margin-top: 20px;

                .fa-solid {
                    padding-left: 20px;
                }

                h2 {
                    flex-grow: 0.8;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

.restaurants {
    padding: 25px;
    background-color: $backgroundcolor1;

    .restaurants_cards {
        padding-bottom: 50px;
        margin-bottom: 50px;

        .restaurants_cards_container {
            width: 100%;
            height: 241px;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            background-color: white;
            border-radius: 20px;

            a {
                position: relative;

                .new {
                    position: absolute;
                    right: 15px;
                    border-radius: 2px;
                    padding: 5px;
                    background-color: #99E2D0;
                    color: #008766;
                }

                img {
                    object-fit: cover;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    width: 100%;
                    height: 180px;
                }
            }

            .card-content {
                display: flex;
                justify-content: space-between;
                padding: 0px 15px;

                .card-txt {

                    .card-title {
                        margin-top: 2px;
                        margin-bottom: 2px;
                    }

                    .card-subtitle {
                        margin: 1px 0px;
                    }
                }

                .heart_icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    margin-right: 20px;

                    .fa-regular {
                        position: absolute;
                    }


                    .fa-solid {
                        position: absolute;
                        opacity: 0;
                        transition: all 0.6s;
                        color: transparent;
                        background-image: $backlineargradient;
                        background-clip: text;
                        -webkit-background-clip: text;
                    }

                    &:hover .fa-solid {
                        opacity: 1;
                    }

                    &:hover .fa-regular {
                        opacity: 0;
                    }
                }
            }
        }

    }
}

@media screen and (min-width: 992px) {

    .search h1 {
        font-size: 40px;
    }

    .search p {
        font-size: 18px;
    }

    .restaurants,
    .functioning {
        padding-right: 8%;
        padding-left: 8%;
    }

    .functioning .functioning_cards {
        flex-direction: row;
        justify-content: space-between;
    }

    .functioning_cards_step {
        width: 25%;
    }

    .restaurants .restaurants_cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .restaurants .restaurants_cards .restaurants_cards_container {
        width: 45%;
        margin-top: 40px;
    }
}

/* Partie restaurant */

main {

    margin-bottom: -60px;

    .restaurant_img {
        img {
            object-fit: cover;
            width: 100%;
            height: 275px;
        }
    }

    .menu {
        background-color: #F7F7F7;
        border-radius: 40px 40px 0px 0px;
        position: relative;
        bottom: 60px;
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-top: 25px;
        padding-bottom: 25px;

        .menu_title {
            display: flex;
            justify-content: space-between;

            h1 {
                padding-top: 10px;
                font-family: 'shrikhand';
                font-weight: 400;
                size: 28px;
            }

            .heart_icon {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                margin-right: 20px;

                .fa-regular {
                    position: absolute;
                }


                .fa-solid {
                    position: absolute;
                    opacity: 0;
                    transition: all 0.6s;
                    color: transparent;
                    background-image: $backlineargradient;
                    background-clip: text;
                    -webkit-background-clip: text;
                }

                &:hover .fa-solid {
                    opacity: 1;
                }

                &:hover .fa-regular {
                    opacity: 0;
                }
            }

        }

        .full_menu {

            .starters,
            .dishes,
            .desserts,
            {
            margin-bottom: 40px;

            h2 {
                font-weight: 300;
                font-size: 16px;
                padding-bottom: 5px;
                width: 40px;
                border-bottom: 3px solid #99E2D0;
            }

            .card-content {

                display: flex;
                background-color: #FFFFFF;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
                height: 72px;
                border-radius: 20px;
                margin-top: 20px;
                padding: 0;


                &:hover {
                    .card-check {
                        width: 20%;
                        transition: all 0.3s;


                        .fa-circle-check {
                            transform: scale(1);
                            transition: all 0.4s;
                        }

                    }
                }

                .block-text {

                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    width: 100%;
                    padding: 10px;

                    .card-title {
                        h3 {
                            margin: 0px;
                        }

                    }

                    .card-text {
                        display: flex;
                        justify-content: space-between;

                        p {
                            margin: 0px;
                        }

                        .price {
                            margin: 0px;
                            font-weight: 700;
                            font-size: 15px;
                        }
                    }
                }

                .card-check {

                    transition: all 0.5s ease-in-out;
                    border-bottom-right-radius: 20px;
                    width: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    background-color: #99E2D0;
                    margin-left: 10px;
                    border-top-right-radius: 20px;

                    .fa-circle-check {
                        color: white;
                        transform: scale(0);
                    }

                }
            }
        }

    }

    a {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 25px;
    }
}

}

@media screen and (min-width: 992px) {

    .menu {
        margin-left: 10%;
        margin-right: 10%;

        .menu_title {
            margin-left: 10%;
            margin-right: 10%;
        }

        .full_menu {
            margin-left: 10%;
            margin-right: 10%;
        }
    }


}