body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* partie home page */

.location {
    height: 63px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa-solid {
        padding-right: 20px;
        font-size: small;
    }
}

.search {
    background: $backgroundcolor1 ;
    height: 275px;

    h1 {
        text-align: center;
        font-size: 24px;
        padding: 25px;
    }

    p {
        margin: 0;
        padding: 0px 10px;
        text-align: center;
        font-weight: 300;
    }

    a {
        margin: 30px;
        display: flex;
        justify-content: center;
    }
}

.functioning {
    padding: 25px;

    .functioning_cards {
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;

        .functioning_cards_step {
            display: flex;
            position: relative;

            p {
                position: absolute;
                bottom: 10px;
                left: -10px;
                width: 20px;
                height: 20px;
                text-align: center;
                border-radius: 20px;
                background-color: $primarycolor;
                color: white;
            }

            div {
                background-color: $backgroundcolor1 ;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
                display: flex;
                align-items: center;
                width: 100%;
                height: 72px;
                border-radius: 20px;
                margin-top: 20px;

                .fa-solid {
                    padding-left: 20px;
                }

                h2 {
                    flex-grow: 0.8;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

.restaurants {
    padding: 25px;
    background-color: $backgroundcolor1;

    .restaurants_cards {
        padding-bottom: 50px;
        margin-bottom: 50px;

        .restaurants_cards_container {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            background-color: white;
            border-radius: 20px;

            a {
                position: relative;

                .new {
                    position: absolute;
                    right: 15px;
                    border-radius: 2px;
                    padding: 5px;
                    background-color: #99E2D0;
                    color: #008766;
                }

                img {
                    object-fit: cover;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    width: 100%;
                    height: 260px;
                }
            }

            .card-content {
                display: flex;
                justify-content: space-between;
                padding: 0px 15px;

                .fa-heart {
                    display: flex;
                    align-items: center;
                }
            }
        }

    }
}

@media screen and (min-width: 992px) {

    .search h1 {
        font-size: 40px;
    }

    .search p {
        font-size: 18px;
    }

    .restaurants, .functioning {
        padding: 40px;
    }

    .functioning .functioning_cards {
        flex-direction: row;
        justify-content: space-around;
    }

    .functioning_cards_step {
        width: 25%;
    }

    .restaurants .restaurants_cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .restaurants .restaurants_cards .restaurants_cards_container {
        width: 45%;
        margin-top: 40px;
    }
}

/* Partie restaurant */

main {

    margin-bottom: -60px;

    .restaurant_img {
        img {
            object-fit: cover;
            width: 100%;
            height: 275px;
        }
    }

    .menu {
        background-color: #F7F7F7;
        border-radius: 40px 40px 0px 0px;
        position: relative;
        bottom: 60px;
        padding: 25px;

        .menu_title {
            display: flex;
            justify-content: space-between;

            h1 {
                padding-top: 10px;
                font-family: 'shrikhand';
                font-weight: 400;
                size: 28px;
            }

            .fa-heart {
                display: flex;
                align-items: center;
            }
        }

        .full_menu {

            .starters,
            .dishes,
            .desserts,
            {
            margin-bottom: 40px;

            h2 {
                font-weight: 300;
                font-size: 16px;
                padding-bottom: 5px;
                width: 40px;
                border-bottom: 3px solid #99E2D0;
            }

            .card-content {
                justify-content: space-around;
                display: flex;
                flex-direction: column;
                background-color: #FFFFFF;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
                width: 100%;
                height: 72px;
                border-radius: 20px;
                margin-top: 20px;
                padding: 10px;
                width: auto;

                .card-title {
                    h3 {
                        margin: 0px;
                    }

                }

                .card-text {
                    display: flex;
                    justify-content: space-between;

                    p {
                        margin: 0px;
                    }

                    .price {
                        margin: 0px;
                        font-weight: 700;
                        font-size: 15px;
                    }
                }
            }
        }

    }

    a {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 25px;
    }
}

}