* {
    font-family: 'roboto';
    font-weight: 500;
}

h1 {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 15px;
    font-weight: 700;
}

h2 {
    font-size: 16px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}

p {
    font-weight: 300;
    margin: 13px 0px;

}

.txt-color {
    color: $primarycolor;
}


